force-app/main/default/flows/Approval_Process_Flow_For_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Submit_For_Approval</name>
        <label>Submit For Approval</label>
        <locationX>2382</locationX>
        <locationY>1295</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ShirazID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_approval_process_on_quote.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Submit_To_Approval</name>
        <label>Submit For Approval To Shiraz</label>
        <locationX>3394</locationX>
        <locationY>1895</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ShirazID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_approval_process_on_quote.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Submit_to_Shiraz</name>
        <label>Submit to Wisam And Shiraz</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_For_new_Customer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Submit_To_Shiraz_for_Different_Customer_Type</name>
        <label>Submit To Shiraz</label>
        <locationX>4186</locationX>
        <locationY>1295</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ShirazID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_approval_process_on_quote.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Submit_to_Wisam_And_Shiraz</name>
        <label>Submit to Wisam And Shiraz</label>
        <locationX>2118</locationX>
        <locationY>1187</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_For_new_Customer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Submit_To_Approval</name>
        <label>Submit For Approval</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ShirazID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_approval_process_on_quote.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Submit_To_Shiraz</name>
        <label>Submit To Shiraz</label>
        <locationX>4978</locationX>
        <locationY>1187</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ShirazID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_approval_process_on_quote.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Submit_to_Wisam_And_Shiraz</name>
        <label>Submit to Wisam And Shiraz</label>
        <locationX>3922</locationX>
        <locationY>1187</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_For_new_Customer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Submit_to_Wisam_And_Shiraz</name>
        <label>Submit to Wisam And Shiraz</label>
        <locationX>4714</locationX>
        <locationY>1079</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_For_new_Customer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_To_Approval</name>
        <label>Submit To Approval</label>
        <locationX>1590</locationX>
        <locationY>1895</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ShirazID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_approval_process_on_quote.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_To_Shiraz</name>
        <label>Submit To Shiraz</label>
        <locationX>3130</locationX>
        <locationY>1895</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_For_new_Customer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Shiraz1</name>
        <label>Submit to Shiraz</label>
        <locationX>1326</locationX>
        <locationY>1895</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_For_new_Customer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_To_Shiraz_for_Different_Customer_Type</name>
        <label>Submit To Shiraz for Different Customer Type</label>
        <locationX>4450</locationX>
        <locationY>1187</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ShirazID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_approval_process_on_quote.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Wisam</name>
        <label>Submit to Wisam</label>
        <locationX>1062</locationX>
        <locationY>1895</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>WisamID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_approval_process_on_quote.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Wizam</name>
        <label>Submit to Wizam</label>
        <locationX>2866</locationX>
        <locationY>1895</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>WisamID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_approval_process_on_quote.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Approver_Assignment</name>
        <label>Approver Assignment</label>
        <locationX>4450</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ShirazID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Shiraz_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_To_Shiraz_for_Different_Customer_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approver_Assignments</name>
        <label>Approver Assignments</label>
        <locationX>1458</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>ShirazID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Shiraz_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WisamID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Wisam_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Approver_Assignment</name>
        <label>Approver Assignment</label>
        <locationX>4186</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ShirazID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Shiraz_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Submit_To_Shiraz_for_Different_Customer_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Approver_Assignments</name>
        <label>Approver Assignments</label>
        <locationX>3262</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>ShirazID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Shiraz_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WisamID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Wisam_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Approver_Assignment</name>
        <label>Approver Assignment</label>
        <locationX>4978</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ShirazID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Shiraz_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Submit_To_Shiraz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Approver_Assignments</name>
        <label>Approver Assignments</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ShirazID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Shiraz_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Submit_To_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Approver_Assignments</name>
        <label>Approver Assignments</label>
        <locationX>2382</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ShirazID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Shiraz_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Submit_For_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DistributorCheckbox_false</name>
        <label>DistributorCheckbox false</label>
        <locationX>3350</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>DistributorLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_distributors_quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DistributorCheckbox_true</name>
        <label>DistributorCheckbox true</label>
        <locationX>3614</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>DistributorCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_distributors_quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SICheckbox_false</name>
        <label>SICheckbox false</label>
        <locationX>1546</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>SIDiscountLIMIT</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_SI_quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SICheckbox_true</name>
        <label>SICheckbox true</label>
        <locationX>1810</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>SIDiscountCheckbox</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_SI_quote</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Line_Item1</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Line Item</label>
        <locationX>3262</locationX>
        <locationY>1079</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Line_Item</collectionReference>
        <connector>
            <targetReference>loop_for_distributors_quote</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Actual_Discount__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Line_Item_Discount</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Line Item Discount</label>
        <locationX>1458</locationX>
        <locationY>1079</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Line_Item</collectionReference>
        <connector>
            <targetReference>loop_for_SI_quote</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Actual_Discount__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <customErrors>
        <name>Error_on_Approval_Process</name>
        <label>Error on Approval Process</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>This Quote&apos;s approval is already in pending State. So You can not modify the details.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Discount_of_each_record</name>
        <label>Check Discount of each record</label>
        <locationX>3614</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>loop_for_distributors_quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_distributors_quote.Actual_Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_distributors_quote.Actual_Discount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DistributorCheckbox_false</targetReference>
            </connector>
            <label>0-3</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_SI_quote.Actual_Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DistributorCheckbox_true</targetReference>
            </connector>
            <label>&gt;3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Lumpsum_Discount</name>
        <label>Check For Lumpsum Discount</label>
        <locationX>952</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Sort_Line_Item_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lumpsum Discount not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Discount_is_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lump_Sum_Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_The_Submitter</targetReference>
            </connector>
            <label>Yes Discount is Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Lumpsum_Discount2</name>
        <label>Check For Lumpsum Discount</label>
        <locationX>2756</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Sort_Line_Item1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lump_Sum_Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_The_Submitter</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Pending_Approval</name>
        <label>Check For Pending Approval</label>
        <locationX>2175</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_State_Of_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Process_is_in_pending_state</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_on_Approval_Process</targetReference>
            </connector>
            <label>If Process is in pending state</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_account_is_existing</name>
        <label>Check Account</label>
        <locationX>3097</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_update_Quote_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>System_Integrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Integrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Lumpsum_Discount</targetReference>
            </connector>
            <label>System Integrator</label>
        </rules>
        <rules>
            <name>Distributor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Lumpsum_Discount2</targetReference>
            </connector>
            <label>Distributor</label>
        </rules>
        <rules>
            <name>Other_Type</name>
            <conditionLogic>(1 AND 2) AND (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Account.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Integrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Account.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_For_Lumpsum_Discount</targetReference>
            </connector>
            <label>Other Type</label>
        </rules>
        <rules>
            <name>Lumpsum_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lump_Sum_Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Check_The_Submitter</targetReference>
            </connector>
            <label>Lumpsum Discount is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_State_Of_Record</name>
        <label>Check State Of Record</label>
        <locationX>4301</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_update_Quote_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pending Approval Found</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Line_Item</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_The_Submitter</name>
        <label>Check The Submitter</label>
        <locationX>446</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Approver_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Users</defaultConnectorLabel>
        <rules>
            <name>If_Submitter_is_Deepak_Or_Anas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Submit_to_Shiraz</targetReference>
            </connector>
            <label>If Submitter is Deepak Or Anas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User</name>
        <label>Check User</label>
        <locationX>1458</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Update_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_User</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SIDiscountLIMIT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SIDiscountCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Wisam</targetReference>
            </connector>
            <label>If user is Deepak Or Abdul</label>
        </rules>
        <rules>
            <name>IF_user_is_Deepak_and_abdul_and_discount_5</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com.invalid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com.invalid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SIDiscountCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SIDiscountLIMIT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SIDiscountLIMIT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Shiraz1</targetReference>
            </connector>
            <label>IF user is Deepak and abdul and discount &gt; 5</label>
        </rules>
        <rules>
            <name>If_Other_User_and_Discount_is_Available</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com.invalid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com.invalid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SIDiscountLIMIT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SIDiscountCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_To_Approval</targetReference>
            </connector>
            <label>If Other User and Discount is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Discount_of_each_record</name>
        <label>Check Discount of each record</label>
        <locationX>1810</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>loop_for_SI_quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_SI_quote.Actual_Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_for_SI_quote.Actual_Discount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SICheckbox_false</targetReference>
            </connector>
            <label>0-5</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_for_SI_quote.Actual_Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SICheckbox_true</targetReference>
            </connector>
            <label>&gt;5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_For_Lumpsum_Discount</name>
        <label>Check For Lumpsum Discount</label>
        <locationX>4252</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Approver_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lump_Sum_Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_The_Submitter</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_The_Submitter</name>
        <label>Check The Submitter</label>
        <locationX>2250</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Approver_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Users</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Submitter_is_Deepak_Or_Anas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Submit_to_Wisam_And_Shiraz</targetReference>
            </connector>
            <label>If Submitter is Deepak Or Anas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_User</name>
        <label>Check User</label>
        <locationX>3262</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>update_Quote_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Outcome_1_of_Check_User</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributorLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributorCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Wizam</targetReference>
            </connector>
            <label>If User Is Deepak &amp; Discount &lt; 3</label>
        </rules>
        <rules>
            <name>If_User_is_Deepak_Discount_3</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com.invalid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com.invalid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributorCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributorLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributorLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_To_Shiraz</targetReference>
            </connector>
            <label>If User is Deepak &amp; Discount &gt; 3</label>
        </rules>
        <rules>
            <name>Other_User_and_Discount</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com.invalid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com.invalid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributorCheckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributorLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Submit_To_Approval</targetReference>
            </connector>
            <label>Other User and Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_The_Submitter</name>
        <label>Check The Submitter</label>
        <locationX>4054</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Approver_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Users</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_If_Submitter_is_Deepak_Or_Anas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Submit_to_Wisam_And_Shiraz</targetReference>
            </connector>
            <label>If Submitter is Deepak Or Anas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_3_of_Check_The_Submitter</name>
        <label>Check The Submitter</label>
        <locationX>4846</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Approver_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Users</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_If_Submitter_is_Deepak_Or_Anas</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dvellalath@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>aabdulhadi@invixium.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Submit_to_Wisam_And_Shiraz</targetReference>
            </connector>
            <label>If Submitter is Deepak Or Anas</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Approval Process Flow For Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Process Flow For Quote</label>
    <loops>
        <name>loop_for_distributors_quote</name>
        <label>loop for distributors quote</label>
        <locationX>3262</locationX>
        <locationY>1187</locationY>
        <collectionReference>Get_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Discount_of_each_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Approver_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_for_SI_quote</name>
        <label>loop for SI quote</label>
        <locationX>1458</locationX>
        <locationY>1187</locationY>
        <collectionReference>Get_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Check_Discount_of_each_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Approver_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_approval_process_on_quote</name>
        <label>Get approval process on quote</label>
        <locationX>2175</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Pending_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote_approval_for_New_Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Line_Item</name>
        <label>Get Line Item</label>
        <locationX>3097</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_account_is_existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Process</name>
        <label>Get Process Instance</label>
        <locationX>2175</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_approval_process_on_quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_Quote_record</name>
        <label>update Quote record</label>
        <locationX>5242</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Show_Button__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_update_Quote_record</name>
        <label>Copy 2 of update Quote record</label>
        <locationX>5506</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Show_Button__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Quote_record</name>
        <label>update Quote record</label>
        <locationX>3658</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>Show_Button__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>1854</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>Show_Button__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2049</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Process</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Copy_1_of_Quote_line_filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>CurrentUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DiscountInMinus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributorCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DistributorLimit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>JayantandLenore</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineAmountCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShirazID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SIDiscountCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SIDiscountLIMIT</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WisamID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
